* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 200px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    gap:10px;
    height: 100vh;
}

.item {
    border: 1px solid chartreuse;
}

.header {
    grid-area: header;
    background-color: aqua;
}

.left {
    grid-area: left;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}